.carousel-item {
    display: block;
}

.slide-enter-active,
.slide-leave-active {
    transition: transform 0.6s ease;
}
.slide-leave-to {
    transform: translateX(-100%);
    position: absolute;
    top: 0;
}
.slide-enter {
    transform: translateX(100%);
}

.slide-next.slide-leave-to {
    transform: translateX(-100%);
    position: absolute;
    top: 0;
}
.slide-next.slide-enter {
    transform: translateX(100%);
}

.slide-prev.slide-leave-to {
    transform: translateX(100%);
    position: absolute;
    top: 0;
}
.slide-prev.slide-enter {
    transform: translateX(-100%);
}

/* date picker */
.mx-btn:hover {
    background-color: #3f6ad8;
    color: #fff;
}

.mx-calendar-content .cell.active {
    background: #3ac47d;
    color: #fff;
}
.mx-table-date .today {
    background-color: #f7b924;
    color: #212529;
}

/* tooltip */

.tooltip {
    display: block !important;
    z-index: 10000;
}

.tooltip .tooltip-inner {
    background: #38c172;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #38c172;
    z-index: 1;
}

.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
    margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #38c172;
}

.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    bottom: 0;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: #38c172;
}

.popover-header {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 0.88rem;
    background-color: #38c172;
    border-bottom: 1px solid #38c172;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

/*Avatar perfil*/
.avatar-icon-xl .avatar-icon {
    width: 250px;
    height: 250px;
}
.avatar-icon {
    border: #fff solid 8px;
    overflow: hidden;
}
.avatar-icon.rounded {
    border-radius: 1rem !important;
}

.bg-warm-flame {
    background-image: linear-gradient(
        45deg,
        #3f6ad8 20%,
        #3f6ad830 70%,
        #3f6ad8 100%
    ) !important;
}

.dropdown-menu-header .menu-header-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 8;
    opacity: 0.25;
    filter: grayscale(50%);
    background-size: cover;
}

.opacity-3 {
    opacity: 1.5 !important;
}

@media (min-width: 10px) {
    .card-columns {
        column-count: 1;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}
@media (min-width: 600px) {
    .card-columns {
        column-count: 2;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}
@media (min-width: 1000px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}

.app-header__logo .logo-majumba-inicio > img {
    height: 40px;
    width: 150px;
}

.sidebar-mobile-open .app-sidebar .app-header__logo .logo-majumba-inicio > img {
    width: 150px !important;
    margin-left: auto;
    margin-right: 0;
}

.fixed-sidebar.closed-sidebar:not(.fixed-header)
    .app-sidebar
    .app-header__logo
    .logo-majumba-inicio {
    display: none;
}

.closed-sidebar:not(.closed-sidebar-mobile)
    .app-header
    .app-header__logo
    .logo-majumba-inicio {
    display: none;
}

.logo-majumba > img {
    width: 560px;
    height: 200px;
}
@media (max-width: 1178px) {
    .logo-majumba > img {
        width: 520px;
    }
}
@media (max-width: 1087px) {
    .logo-majumba > img {
        width: 500px;
    }
}
@media (max-width: 772px) {
    .logo-majumba > img {
        width: 480px;
        height: 200px;
    }
}
@media (max-width: 590px) {
    .logo-majumba > img {
        width: 450px;
        height: 200px;
    }
}
@media (max-width: 503px) {
    .logo-majumba > img {
        width: 400px;
    }
}
@media (max-width: 429px) {
    .logo-majumba > img {
        width: 330px;
    }
}
@media (max-width: 370px) {
    .logo-majumba > img {
        width: 270px;
        height: 150px;
    }
}

.logo-majumba-reset > img {
    width: 500px;
    height: 250px;
}
@media (max-width: 1178px) {
    .logo-majumba-reset > img {
        width: 600px;
    }
}
@media (max-width: 1087px) {
    .logo-majumba-reset > img {
        width: 550px;
    }
}
@media (max-width: 772px) {
    .logo-majumba-reset > img {
        width: 480px;
        height: 200px;
    }
}
@media (max-width: 590px) {
    .logo-majumba-reset > img {
        width: 450px;
        height: 200px;
    }
}
@media (max-width: 503px) {
    .logo-majumba-reset > img {
        width: 400px;
    }
}
@media (max-width: 429px) {
    .logo-majumba-reset > img {
        width: 330px;
    }
}
@media (max-width: 370px) {
    .logo-majumba-reset > img {
        width: 270px;
        height: 150px;
    }
}
.dropdown-menu {
    min-width: 10rem;
}

.btn-icon .btn-icon-wrapper {
    font-size: 25px;
}

/* Cambio de colores */

/*siderbar*/
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #38c172;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #38c172;
}
.app-sidebar__heading {
    color: #38c172;
}
.vertical-nav-menu-majumba li a:hover {
    background: #06f37940;
}

.vertical-nav-menu-majumba li a.mm-active {
    color: #38c172;
    background: #06f37940;
}

.vertical-nav-menu-majumba ul > li > a.mm-active {
    color: #38c172;
    background: #06f37940;
}

.vertical-nav-menu-majumba ul:before {
    background: #06f37940;
}

.vertical-nav-menu-majumba ul > li > a:hover {
    color: #38c172;
}

.btn-transition {
    color: #3ac47d;
}

.btn-transition.btn-outline-link:hover {
    color: #3ac47d;
}
/*paginacion*/
.page-item.active .page-link,
.pagination .active.page-number .page-link {
    background-color: #3ac47d;
    border-color: #38c172;
}
.pagination li a {
    color: #38c172;
}

.tabs-animated .nav-link::before {
    background: #3ac47d;
}

.ball-spin-fade-loader > div {
    background-color: #3ac47d;
}
/*checkbox*/
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem #06f37940;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #3ac47d;
    background-color: #38c172;
}

.input-group-text {
    background-color: #06f37940;
    border: 1px solid #38c172;
}
/*calendario*/
.fc-button-primary {
    background-color: #38c172;
    border-color: #3ac47d;
}
.fc-button-primary:hover {
    background-color: #21e681a3;
    border-color: #3ac47d;
}
.fc-button-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #3ac47d;
    box-shadow: 0 0 0 0.2rem #3ac47d;
}

.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
    background-color: #3ac47d;
    border-color: #3ac47d;
}
.fc-button-primary:not(:disabled):active:focus,
.fc-button-primary:not(:disabled).fc-button-active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #3ac47d;
    box-shadow: 0 0 0 0.2rem #3ac47d;
}
.fc-button-primary:disabled {
    background-color: #38c172;
    border-color: #3ac47d;
}

.fc-unthemed td.fc-today {
    background: #c1fcdd;
}

/*login*/
.bg-premium-dark {
    background-image: linear-gradient(
        to right,
        #434343 0%,
        black 100%
    ) !important;
}
@media (min-width: 10px) {
    .card-columns {
        column-count: 1;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}
@media (min-width: 600px) {
    .card-columns {
        column-count: 2;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}
@media (min-width: 1000px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}

.app-header__logo .logo-majumba-inicio > img {
    height: 40px;
    width: 150px;
}

.sidebar-mobile-open .app-sidebar .app-header__logo .logo-majumba-inicio > img {
    width: 150px !important;
    margin-left: auto;
    margin-right: 0;
}

.fixed-sidebar.closed-sidebar:not(.fixed-header)
    .app-sidebar
    .app-header__logo
    .logo-majumba-inicio {
    display: none;
}

.closed-sidebar:not(.closed-sidebar-mobile)
    .app-header
    .app-header__logo
    .logo-majumba-inicio {
    display: none;
}

/* btn login con google*/
#btnGoogle {
    display: inline-block;
    background: white;
    color: #444;
    width: 200px;
    border-radius: 5px;
    border: thin solid rgba(58, 196, 125, 1);
    box-shadow: 1px 1px 1px rgba(58, 196, 125, 1);
    white-space: nowrap;
}
#btnGoogle:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(58, 196, 125, 1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(58, 196, 125, 1);
    box-shadow: 0px 0px 13px 0px rgba(58, 196, 125, 1);
}
span.icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    padding-top: 9px;
    padding-left: 20px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.verContraseña:hover {
    cursor: pointer;
}
.btnLogin {
    float: right;
}
.btnLogin span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 772px) {
    #btnGoogle {
        float: right;
    }
}

.error-input-select {
    border-color: #d92550;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}

.text-error-input {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #d92550;
}

.text-error-select {
    position: relative;
    top: -15px;
    color: #d92550;
    font-size: 80%;
}

.mostrar-cursor {
    cursor: pointer;
}

/*mensaje central*/
.full-height {
    height: 40vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.code {
    border-right: 4px solid;
    font-size: 60px;
    padding: 0 15px 0 15px;
    text-align: center;
}
.message {
    font-size: 40px;
    text-align: center;
}

/* page title*/
.app-theme-white .app-page-title {
    /*rgba(255, 255, 255, 0.45);*/
    background: #06f37940;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.card-header.card-header-tab .card-header-title {
    align-items: center;
    white-space: inherit;
    margin-bottom: 0.5em;
}

@media (max-width: 991.98px) {
    .app-main-verificar-email {
        display: flex;
    }
}
